version: '3.8'

services:
  backend:
    build: ./backend
    ports:
      - "8000:8000"
    env_file:
      - ./.env
    volumes:
      - ./data:/app/data
      - ./generated_images:/app/generated_images

  frontend:
    build: ./client/my-content-app
    ports:
      - "3000:80"
    depends_on:
      - backend
